.about__header {
  font-family: 'Forum-regular';
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;

  color: #0C0C0E;
  margin-bottom: 20px;
}

.about__line {
  border-top: 1px solid #0C0C0E;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.about__text {
  margin-bottom: 20px;
  text-align: center;
}

.img__left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 35px;
}

.about__buttons {
  display: flex;
  justify-content: center;
  height: 26px;
}

.button_left:hover {
  cursor: pointer;
}

.about__button_left {
  border-radius: 100%;
  background: #BB945F;
  padding: 8px;
  margin: 5px;
}

.button_center:hover {
  cursor: pointer;
}

.about__button_center {
  border-radius: 100px;
  background: #0C0C0E;
  padding: 8px;
  margin: 5px;
}

.about__button_center:hover,
.about__button_center:active {
  background:#BB945F;
  transition: all 0.5s;
}


.button_right:hover {
  cursor: pointer;
}

.about__button_right {
  border-radius: 100px;
  background: #0C0C0E;
  padding: 8px;
  margin: 5px;
}

.about__button_right:hover,
.about__button_right:active {
  background:#BB945F;
  transition: all 0.5s;
}

