.container_about {
  max-width: 1440px;
  padding: 20px 20px 35px;
  margin: 0 auto;
  background: white;
  width: 100%;
}

.about__header {
  font-family: 'Forum-regular';
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;

  color: #0C0C0E;
  margin-bottom: 20px;
}

.about__line {
  border-top: 1px solid #0C0C0E;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.about__text {
  margin-bottom: 28px;
  text-align: center;
}

.img__left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
  margin-bottom: 35px;
  overflow: hidden;
}

.about__buttons {
  display: flex;
  justify-content: center;
  height: 26px;
}

.about__buttons_slider:hover {
  cursor: pointer;
}

.about__button {
  border-radius: 100px;
  background: #0C0C0E;
  padding: 8px;
  margin: 5px;
}

.about__button_active {
  background: #BB945F;
}

.about__button:hover,
.about__button:active {
  background:#BB945F;
  transition: all 0.5s;
}

@media screen and (max-width: 1439px) {
  .img__left {
    width: 925px;
  }

  .slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
  }

  .slifer__arrow_left {
    background-image: url("../../../assets/icons/Carret_Left.svg");
    transition: all 0.5s;
    width: 24px;
    height: 24px;
  }

  .slifer__arrow_right {
    background-image: url("../../../assets/icons/Carret_Right.svg");
    transition: all 0.5s;
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .img__left {
    width: 450px;
  }
}


