.coffee__shop_header {
  font-family: 'Forum-regular';
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;

  color: #0C0C0E;
  margin-bottom: 20px;
}

.coffee__shop_line {
  border-top: 1px solid #0C0C0E;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.coffee__shop_text {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 40px;
}

.coffee__shop_prices {
  display: flex;
  justify-content: space-between;
}

.coffee__shop_prices-coffee {
  text-align: justify;
  width: 438px;
}

.coffee__shop_prices-deserts {
  text-align: right;
  width: 482px;
}

.coffee__shop_prices-title {
  font-family: 'Forum-regular';
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #BB945F;
}

.coffee__shop_prices-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.coffee__shop_prices-name {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  width: 212px;
}

.coffee__shop_prices-line {
  border-top: 1px solid #BB945F;
  width: 100px;
  margin: 0 60px 0 60px;
}

.coffee__shop-price {
  font-family: 'Forum-regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

