.header {
  color: white;
}

.container_header {
  max-width: 1440px;
  padding: 20px 20px;
  margin: 0 auto;
  background: rgba(12, 12, 14, 1);
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.logo__title h1{
  font-family: 'Forum-regular';
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em; 
  transition: all 0.5s;
  text-transform: capitalize;
}

.logo__title h1:hover {
  color:#BB945F;
  transition: all 0.5s;
}

.menu__link {
  transition: all 0.5s;
}

.menu__link:hover {
  color:#BB945F;
  transition: all 0.5s;
  text-decoration: underline;
}

.icon:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}

.burger {
  display: none;
}

.line {
  height: 2px;
  width: 45px;
  background: white;
  transition: 0.3s all linear;
  position: absolute;
  top: 8px;
}

.line:nth-child(2) {
  top: -2px;
}

.line:nth-child(3) {
  top: 18px;
}


@media screen and (max-width: 1024px) {
  .burger {
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    cursor: pointer;
    transition: 0.5s all linear;
  }

  .burger.active {
    transition: 0.5s all linear;
    .line_first {
      display: none;
    }
  
    .line_second {
      transform: rotate(45deg);
      top: 10px;
      right: 6px;
    }
  
    .line_third {
      transform: rotate(-45deg);
      top: 10px;
      right: 6px;
    }
  }

  .menu {
    top: 90px;
    right: 0px;
    height: 480px;
    width: 332px;
    background: rgb(12, 12, 14);
    transition: all 0.5s;
    text-align: center;
    overflow: visible;
    display: block;
    position: absolute;
    z-index: auto;
  }

  .menu.active {
    top: 90px;
    right: 13px;
    height: 480px;
    width: 332px;
    background: rgb(12, 12, 14);
    transition: all 0.5s;
    text-align: center;
    overflow: visible;
    display: block;
    position: absolute;
    z-index: 1;
  }

  .menu__list {
    flex-direction: column;
    padding: 23px;
    gap: 56px;
  }
}
