.header {
  background: rgba(12, 12, 14, 1);
  color: white;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.logo__title p{
  font-family: "Forum";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em; 
}

.menu__list img{
  margin-left: 10px;
}